In [47]:
import pandas as pd
df=pd.read_csv('IITK_Courses_Report.csv')
mat=df.values.tolist()

         Student Name  Course  Marks (%)  Attendance (%)
0         Dipon Konar  ELC111      56.72           63.08
1      Parth Parashar  PHY113      84.59           20.96
2         Anurag Sahu  MTH113      41.13           59.86
3    Hemakshi Kumawat  CHM112      59.43           57.34
4      Parth Parashar  ELC111      62.88           30.82
..                ...     ...        ...             ...
195     Kritika Singh  ELC112      68.57           77.98
196   Harshit Karnani  PHY112      52.31           35.75
197       Sneha Patra  PHY113      58.98           21.98
198       Ashma Singh  PHY111      88.56           82.63
199    Parth Parashar  PHY115      80.52           42.89

[200 rows x 4 columns]

In [48]:
nvdf=df.isnull()

In [49]:
i=0
while i<len(mat):
    if mat[i][0]!=mat[i][0]:
        mat.pop(i)
        continue
    if mat[i][1]!=mat[i][1]:
        mat.pop(i)
        continue
    if mat[i][2]!=mat[i][2]:
        mat[i][2]= (mat[i-1][2]*mat[i+1][2])**(0.5)
    if mat[i][3]!=mat[i][3]:
        mat[i][3]= (mat[i-1][3]*mat[i+1][3])**(0.5)
    i=i+1

In [50]:
df_clean=df = pd.DataFrame(mat, columns=['Student Name', 'Course','Marks (%)','Attendance (%)'])

In [51]:
df_clean.to_csv("cleaned_IITK_Courses_Report.csv", index=False)